.navbar {
    background-color: #333;
    border-radius: 0px;
    margin-bottom: 0px;
}

.jumbotron1 {
    background-image: url(https://www.w3.org/2016/Talks/W3CTrack-IH/covers/blackboard.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.jumbotron2 {
    background-image: url(https://www.w3.org/2016/Talks/W3CTrack-IH/covers/blackboard.jpg);
    padding-top: 150px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

.quizknapp {
  display: inline-block;
  border-radius: 4px;
  background-color: #62ABB5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.quizknapp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.quizknapp span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.quizknapp:hover span {
  padding-right: 25px;
}

.quizknapp:hover span:after {
  opacity: 1;
  right: 0;
}













